<div class="banner1" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.parking.net/Upload/AboutParking/parking-garage2_Original.jpg);">
  <div class="container">

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3 class="h3new">Create a new Garage for hosting</h3>
        <%= simple_form_for @garage, html: { data: { controller: "button", action: "submit->button#submit" }} do |f| %>
          <%= f.input :city %>
          <%= f.input :street %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :photo, as: :file %>
          <center><%= f.button :submit, data: { button_target: "button"}, value: "Create", class: 'btn btn-flat' %></center>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
</div>
<div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>This website was coded by the team DRD</i></p>

    </div>
  </div>
