

<div class="banner1" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.parking.net/Upload/AboutParking/parking-garage2_Original.jpg);">
  <div class="container">

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3 class="h3new"> <%= current_user == @garage.user ? "My garage details" : "Book this garage" %></h3>
        <%= simple_form_for @garage do |f| %>
          <%= f.input :location %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
        <ul>
  <% if current_user == @garage.user %>
    <li><%= link_to "Destroy", garage_path(@garage), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
    <li><%= link_to "Edit", edit_garage_path(@garage) %></li>
  <% else %>
    <li><%= link_to "Book", new_garage_booking_path(@garage) %></li>
  <% end %>
</ul>
      </div>
    </div>
  </div>
</div>

</div>
</div>
