<h1>Welcome, <%= @user.email %></h1>

<br>
<h3>Your bookings</h3>
<% @user.bookings.each do |booking| %>
  <ul>
    <li>
      <%= booking.garage.city %>
      <%= booking.garage.street %>
      <%= booking.start_date %>
      <%= booking.end_date %>
    </li>
  </ul>
<% end %>

<h3>Bookings made for your garage</h3>
<% @garages.each do |garage| %>
  <% garage.bookings.each do |booking| %>
    <ul>
      <li>
        <%= garage.city %>
        <%= garage.street %>
        <%= booking.user.email %>
        <%= booking.start_date %>
        <%= booking.end_date %>
      </li>
    </ul>
  <% end %>
<% end %>
