<h1>Welcome, <%= @user.email %></h1>

<br>
<h3>Your bookings</h3>
<% @user.bookings.each do |booking| %>
  <ul>
    <li>
      <%= booking.garage.location %>
      <%= booking.date %>
    </li>
  </ul>
<% end %>

<h3>Bookings made for your garage</h3>
<% @garages.each do |garage| %>
  <% garage.bookings.each do |booking| %>
    <ul>
      <li>
        <%= garage.location %>
        <%= booking.user.email %>
        <%= booking.date %>
      </li>
    </ul>
  <% end %>
<% end %>
