<h1>Welcome, <%= @user.first_name %></h1>

<br>
<div>
<h3>Your bookings</h3>
<% @user.bookings.each do |booking| %>
  <ul>
    <li>City Name:  <%= booking.garage.city %></li>
    <li>Street Name:  <%= booking.garage.street %></li>
    <li>Booked From:  <%= booking.start_date %></li>
    <li>Booked To:  <%= booking.end_date %></li>
  </ul>
<% end %>
</div>

<h3>Bookings made for your garage</h3>
<% @garages.each do |garage| %>
  <% garage.bookings.each do |booking| %>
    <ul>
      <li>Contact Details:  <%= booking.user.email %></li>
      <li>City Name:  <%= booking.garage.city %></li>
      <li>Street Name:  <%= booking.garage.street %></li>
      <li>Booked From:  <%= booking.start_date %></li>
      <li>Booked To:  <%= booking.end_date %></li>
    </ul>
  <% end %>
<% end %>
