<div class="banner position-relative" style="background-image: url(<%= asset_path "garage1.jpg" %>);">
  <div class="container">
    <h1>GarageBnB</h1>
    <p>Taking the stress and time out of finding a parking bay.</p>
  </div>

  <div class="position-absolute top-50 start-50 translate-middle">
    <%= simple_form_for :search, url: garages_path, method: :get do |f| %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a garage"
      %>
      <%= submit_tag "Search", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

            <%# <div class="search-form-control form-group">
              <input class="form-control string required" type="text" name="search[query]" id="search_query" />
              <button name="button" type="submit" class="btn btn-flat">
                <i class="fas fa-search"></i> Search for parking
              </button>
            </div> %>



  <!-- code a "How it works" section -->
  <div class="container">
    <h2 class="text-center">How does GarageBnB work?</h2>
    <div class="cards">

      <div class="card">
        <center><img src= <%= asset_path "garage2.jpg" %> alt=""></center>
        <h4>Sign Up</h4>
        <p>Sign up for an account. It is totally free (no credit card need).</p>
      </div>

      <div class="card">
        <center><img src= <%= asset_path "garage3.jpg" %> alt=""></center>
        <h4>Search</h4>
        <p>Search for a parking bay in your chosen destination.</p>
      </div>

      <div class="card">
        <center><img src= <%= asset_path "garage4.jpg" %> alt=""></center>
        <h4>Book</h4>
        <p>Book a parking bay through our easy to use interface.</p>
      </div>

      <div class="card">
        <center><img src= <%= asset_path "garage5.jpg" %> alt=""></center>
        <h4>Host</h4>
        <p>If you have a parking bay to rent, then host it on our site.</p>
      </div>

    </div>
  </div>

  <!-- code a footer -->
  <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>This website was coded by the team Dario <i class="fas fa-heart"></i></p>

    </div>
  </div>
